{% if currentFilter|length > 0 %}
<div class="filter_selection">
    {% set sFilter = "" %}
    Folgende Filter stehen zur Verfügung:
    {% for filter in currentFilter %}
    {% if filter.getType == "checkbox" %}
    <div class="checkbox">
        <label>
            <input type="checkbox" name="filter[{{filter.getName}}]"
                   value="{{filter.getValue}}"
            {% if filter.getValue == filter.getCheckedValue%}
            checked="checked"
            {% set sTemp = "&filter[" ~ filter.getName ~ "]=" ~ filter.getValue %}
            {% set sFilter = [sFilter, sTemp]|join %}
            {% endif %}
            > {{ filter.getTitle }}
        </label>
    </div>
    {% endif %}
    {% if filter.getType == "select" %}
    <div class="form-group">
        <label for="filter[{{filter.getName}}]" class="col-sm-2">{{ filter.getTitle }}</label>
        <div class="col-sm-8">
            <select class="form-control" name="filter[{{filter.getName}}]" id="filter[{{filter.getName}}]">
                <option value="">bitte w&auml;hlen</option>
                {% for value in filter.getValue %}
                <option value="{{ value[0] }}"
                {% if value[0] == filter.getSelection %}
                selected="selected"
                {% set sTemp = "&filter[" ~ filter.getName ~ "]=" ~ filter.getSelection %}
                {% set sFilter = [sFilter, sTemp]|join %}
                {% endif %}>
                {{ value[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
    {% if filter.getType == "inputText" %}
    {% if filter.getCheckedValue != '' %}
    {% set sTemp = "&filter[" ~ filter.getName ~ "]=" ~ filter.getCheckedValue %}
    {% set sFilter = [sFilter, sTemp]|join %}
    {% endif %}
    <div class="form-group">
        <label class="col-sm-2" for="filter[{{filter.getName}}]">{{ filter.getTitle }}</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="filter[{{filter.getName}}]" name="filter[{{filter.getName}}]" value="{{filter.getCheckedValue}}">
        </div>
    </div>
    {% endif %}

    {% endfor %}
    <button type="submit" class="btn btn-default">Anzeigen</button>
</div>
{% set sBaseLink = [sBaseLink, sFilter]|join %}
{% endif %}