<!-- Modal -->
<div id="gn2_bf_userMsg"></div>

<div class="modal fade bs-example-modal-lg" id="myEditObject" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-sticky-panel">
        <button class="btn btn-danger editObjFormClose" data-dismiss="modal" title="Fenster schließen">✕</button>
        <button class="btn btn-success editObjFormSubmit" title="Übernehmen">✓</button>
    </div>

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
            </div>

            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">&nbsp;</div>
        </div>
    </div>
</div>