{% if strPluginId == "oxid.gn2instavariants" %}
   <div class="gn2_header_pageleft">
{% endif %}
    {% if nRowsComplete > nLimitPerPage %}
    {% set nSeiten = (nRowsComplete / nLimitPerPage)|round(0, 'ceil') %}
    <div class="pagination">
        <ul class="pagination">
            {% if nStartResult > 0 %}
            <li><a href="{{sBaseLink}}&page={{nStartResult-1}}">&laquo;</a></li>
            {% endif %}
            {% for i in 1..nSeiten %}
            <li{% if nStartResult+1 == i %} class="active"{% endif %}><a href="{{sBaseLink}}&page={{i-1}}">{{i}}</a></li>
            {% endfor %}
            {% if nStartResult+1 < nSeiten %}
            <li><a href="{{sBaseLink}}&page={{nStartResult+1}}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

{% if strPluginId == "oxid.gn2instavariants" %}
</div>
<div class="gn2_header_pageright">
    <button class="btn" id="btAllComponents" data-toggle="modal" data-target="#myEditObject">Alle Komponenten</button>
</div>
<div class="gn2_header_pageright">
    <button class="btn" id="btAllProperties" data-toggle="modal" data-target="#myEditObject">Alle Eigenschaften</button>
</div>
<div class="gn2_header_pageright">
    <button class="btn" id="btAllPropValues" data-toggle="modal" data-target="#myEditObject">Alle Werte</button>
</div>

<div style="clear:both"></div>
{% endif %}