{% if nRowsComplete > 0 %}
<div class="summary" style="margin-left:20px;">
    Es wurden {{ nRowsComplete }} Ergebnisse gefunden.<br>
    {% set summary = activePlugin.getSummary(strLanguageSource, strLanguageDest) %}
    {% if summary|length > 0 %}
    <table width="400" class="table table-bordered">
        {% for sum in summary %}
        {% set sValue = 0 %}
        {% set sProgressClass = '' %}
        {% if sum[2] > 0 %}
        {% set sValue = (sum[1]/sum[2]*100)|round(0, 'floor') %}
        {% endif %}
        {% set sLabel = sum[1] ~ ' / ' ~ sum[2] ~ ' (' ~ sValue ~'%)' %}
        {% if sValue < 25 %}
        {% set sProgressClass = ' progress-bar-danger' %}
        {% elseif sValue >= 25 and sValue < 75 %}
        {% set sProgressClass = ' progress-bar-warning' %}
        {% elseif sValue >= 75 %}
        {% set sProgressClass = ' progress-bar-success' %}
        {% endif %}
        <tr>
            <td width="300">{{sum[0]}}</td>
            <td align="right">
                <div class="progress">
                    <div class="progress-bar{{sProgressClass}}" role="progressbar" aria-valuenow="{{sValue}}" aria-valuemin="0" aria-valuemax="100" style="width:{{sValue}}%;">
                        {{sLabel}}
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endif %}