<form id="editObjForm" role="form" onsubmit="return false;">
    <input type="hidden" name="function" value="{{functionActive}}">
    <input type="hidden" name="plugin" value="{{strPluginId}}">
    <input type="hidden" name="detFunc" value="saveObj">
    <input type="hidden" name="objId" value="{{objId}}">
    <input type="hidden" name="langSource" value="{{strLanguageSource}}">
    <input type="hidden" name="langDest" value="{{strLanguageDest}}">

{% set objData = activePlugin.getCompleteObject(objId, strLanguageSource, strLanguageDest)%}
{% set objLanguages = objData['languages']%}
<table class="table table-hover">
<tr>
    <td width="48%">{{objLanguages['source']['name']}}</td>
    <td width="2%">&nbsp;</td>
    <td width="48%">{{objLanguages['destination']['name']}}</td>
</tr>
{% set nCounterConf = 0 %}
{% set sOldConfName = "" %}
{% for singleConf in objData['values'] %}
    {% if singleConf['confName'] != sOldConfName %}
<tr class="info">
    <td colspan="3">{{singleConf['confName']}}</td>
</tr>
    {% endif %}
    {% set sOldConfName = singleConf['confName'] %}

        {% set confCSSClass = singleConf['confCSSClass'] %}
        {% set confType = singleConf['confType'] %}
        {% set confMax  = singleConf['confMaxLength'] %}
        {% if confType == "text" %}
            {% set maxlength = "" %}
            {% if confMax > 0 %}
              {% set maxlength = ' maxlength = "' ~ confMax ~ '"' %}
            {% endif %}
<tr>
    <td{% if confCSSClass != "" %} class="{{confCSSClass }}"{% endif %}>{{ singleConf['confContSrc'] }}</td>
    <td>&nbsp;</td>
    <td{% if confCSSClass != "" %} class="{{confCSSClass }}"{% endif %}><input type="text" class="form-control" name="newValues[]"
           value="{{ singleConf['confContDest'] }}"{{ maxlength }}></td>
</tr>
        {% endif %}
        {% if confType == "html" %}
            {% set maxlength = "" %}
<tr>
    <td>
        <iframe src="index.php?function=showhtml&plugin={{strPluginId}}&language={{strLanguageSource}}&objId={{objId}}&confDet={{nCounterConf}}"
                width="100%" height="500" frameborder="0"></iframe>
     </td>
    <td>&nbsp;</td>
    <td>
        <textarea class="form-control redactor" rows="10" name="newValues[]">{{ singleConf['confContDest'] }}</textarea>
    </td>
</tr>
    {% endif %}
    {% if confType == "textarea" %}
    {% set maxlength = "" %}
    <tr>
        <td>
            <iframe src="index.php?function=showhtml&plugin={{strPluginId}}&language={{strLanguageSource}}&objId={{objId}}&confDet={{nCounterConf}}"
                    width="100%" height="500" frameborder="0"></iframe>
        </td>
        <td>&nbsp;</td>
        <td>
            <textarea class="form-control noredactor" rows="10" name="newValues[]">{{ singleConf['confContDest'] }}</textarea>
        </td>
    </tr>
    {% endif %}
        {% set nCounterConf = nCounterConf + 1 %}
        {% if nCounterConf % 20 == 0 %}
    <tr>
        <td><button type="button" class="btn btn-default" data-dismiss="modal">Fenster schließen</button></td>
        <td>&nbsp;</td>
        <td align="right"><button type="button" class="btn btn-primary btsubmit">Übernehmen</button></td>
    </tr>
        {% endif %}


    {% endfor %}
    {% if nCounterConf % 20 > 0 %}
    <tr>
        <td><button type="button" class="btn btn-default" data-dismiss="modal">Fenster schließen</button></td>
        <td>&nbsp;</td>
        <td align="right"><button type="button" class="btn btn-primary btsubmit">Übernehmen</button></td>
    </tr>
    {% endif %}
</table>
</form>

<script>
    $(document).ready(function() {
        $("textarea.redactor").redactor(
            { minHeight:368, maxHeight:368, buttons: ['html', 'formatting', 'bold', 'italic', 'deleted',
                'unorderedlist', 'orderedlist', 'outdent', 'indent',
                'image', 'file', 'link'] }
        );
    });

</script>