<form id="editObjForm" role="form" onsubmit="return false;">
    <input type="hidden" name="function" value="{{functionActive}}">
    <input type="hidden" name="plugin" value="{{strPluginId}}">
    <input type="hidden" name="detFunc" value="saveObj">
    <input type="hidden" name="objId" value="{{objId}}">
    <input type="hidden" name="shopID" value="{{shopId}}">
    <input type="hidden" name="langSource" value="{{strLanguageSource}}">
    <input type="hidden" name="langDest" value="{{strLanguageDest}}">

<h3>Überblick aller aktuell angelegten Komponenten.</h3>
<p>Achtung beim "Übernehmen" der Einstellungen, werden alle bisherigen übersetzten Komponenten überschrieben.</p>
<div id="statusAnzeige"></div>
{% set objData = activePlugin.getAllComponents(strLanguageDest)%}
{% set objLanguages = objData['languages']%}
<table class="table table-hover">
<tr>
    <td width="48%">{{objLanguages['source']['name']}}</td>
    <td width="2%">&nbsp;</td>
    <td width="48%">{{objLanguages['destination']['name']}}</td>
</tr>

{% set nCounterConf = 0 %}
{% for singleConf in objData['values'] %}
    {% set sDefConfName = singleConf['labelDefLang'] %}
    {% set sTranslConfName = singleConf['labelSrcLang'] %}
    <input type="hidden" class="form-control" name="oldValues[]"
           value="{{ sDefConfName }}">
<tr>
    <td>{{ sDefConfName }}</td>
    <td>&nbsp;</td>
    <td><input type="text" class="form-control" name="newValues[]"
           value="{{ sTranslConfName }}"></td>
</tr>
        {% set nCounterConf = nCounterConf + 1 %}
        {% if nCounterConf % 20 == 0 %}
    <tr>
        <td><button type="button" class="btn btn-default btclose" data-dismiss="modal">Fenster schließen</button></td>
        <td>&nbsp;</td>
        <td align="right"><button type="button" class="btn btn-primary btsubmit">Übernehmen</button></td>
    </tr>
        {% endif %}


    {% endfor %}
    {% if nCounterConf % 20 > 0 %}
    <tr>
        <td><button type="button" class="btn btn-default btclose" data-dismiss="modal">Fenster schließen</button></td>
        <td>&nbsp;</td>
        <td align="right"><button type="button" class="btn btn-primary btsubmit">Übernehmen</button></td>
    </tr>
    {% endif %}
</table>
</form>