{% if showHeader %}<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bärbelfish - {{ pageTitle }}</title>
    <link rel="stylesheet" href="scripts/bootstrap/dist/css/bootstrap.min.css">
    <script src="scripts/jquery/dist/jquery.min.js"></script>
    <script src="scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="scripts/redactor/redactor.css">
    <script src="scripts/redactor/redactor.min.js"></script>
    <script src="scripts/jquery-pushmenu/js/jPushMenu.js"></script>
    <script src="scripts/jquery.cookie/jquery.cookie.js"></script>
    <link rel="stylesheet" href="src/css/baerbelfish.css">
    <script src="src/js/baerbelfish.js"></script>
</head>
<body>
{% endif %}

{% if showHtmlHeader %}
    <nav id="menu" class="panel" role="navigation">
        <div class="list-group">
            <a href="?" class="list-group-item">
                <span class="glyphicon glyphicon-file"></span>Dashboard
            </a>
            {% if plugins|length > 0 %}
                {% for plugin in plugins %}
            <a href="?function=edit&amp;plugin={{ plugin.getId }}" class="list-group-item{% if (plugin.getId == strPluginId) %} active{% endif %}">
                <span class="glyphicon glyphicon-file"></span>{{ plugin.getName }}
            </a>
                {% endfor %}
            {% endif %}
        </div>
        <div class="button"></div>
    </nav>
{% endif %}

{% if showHtmlHeader %}
<div class="content">
        <header {% if view|length == 0 %}class="start"{% endif %}>

        {% if view|length > 0 %}
        <ul>
            {% if activePlugin.getName != "" %}<li class="title">{{activePlugin.getName}}</li>{% endif %}

            {% if activePlugin.getShopList|length > 0 %}
            <li>Shops</li>
            <li>
                <select id="shopID">
                    <option value="">bitte wählen</option>
                    {% for shop in activePlugin.getShopList %}
                    {% set bSelected = '' %}
                    {% if shop['selected'] == 1 %}
                    {% set bSelected = ' selected' %}
                    {% endif %}
                    <option value="{{shop['id']}}" {{ bSelected }} >{{ shop['name'] }}</option>
                    {% endfor %}
                </select></li>
            {% endif %}


            {% if activePlugin.getLangList|length > 0 %}
            <li>Quellsprache</li>
            <li>
                <select id="languageSource">
                    <option value="">bitte wählen</option>
                {% for lang in activePlugin.getLangList %}
                    {% set bSelected = '' %}
                    {% if lang['selected'] == 1 %}
                    {% set bSelected = ' selected="selected"' %}
                    {% endif %}
                    <option value="{{lang['id']}}"{{ bSelected }}>{{ lang['name'] }}</option>
                {% endfor %}
            </select></li>
            <li>Zielsprache</li>
            <li>
                <select id="languageDestination">
                    <option value="">bitte wählen</option>
                {% for lang in activePlugin.getLangList %}
                    {% if lang['id'] != activePlugin.getSourceLanguage and
                        lang['id'] != activePlugin.getDefaultLanguage %}
                            {% set bSelected = '' %}
                            {% if lang['id'] == activePlugin.getDestLanguage %}
                                {% set bSelected = ' selected="selected"' %}
                            {% endif %}
                <option value="{{lang['id']}}"{{ bSelected }}>{{ lang['name'] }}</option>
                    {% endif %}
                {% endfor %}
            </select></li>
            {% endif %}
            <!-- Anm.: Es kann nicht die Hauptsprache der Seite übersetzt werden. -->
        </ul>
        {% endif %}

        <div class="logo">
            <img src="src/img/baerbelfish.png" width="77">
        </div>
        </header>
        {% endif %}
        {% if view %}
            {% include view %}
        {% else %}
        {% endif%}
        {% if showHtmlHeader %}
</div>
        {% endif %}
{% if showHeader %}
</body>
</html>
{% endif %}