{% set sBaseLink = "?function=" ~ functionActive ~ "&plugin=" ~ strPluginId ~ "&langSource=" ~ strLanguageSource ~ "&langDest=" ~ strLanguageDest ~ "&shopID=" ~ strShopID  ~ currFilter %}

{% set currentFilter = activePlugin.getFilterView() %}
{% set nRowsComplete = activePlugin.getCount() %}
{% set arrResults = activePlugin.getResults(nStartResult, nLimitPerPage) %}

<form action="index.php" id="formSelection" method="get" role="form" class="form-horizontal">
    <input type="hidden" id="functionactive" name="function" value="{{functionActive}}">
    <input type="hidden" id="pluginactive" name="plugin" value="{{strPluginId}}">
    <input type="hidden" id="shopIDActive" name="shopID" value="{{strShopID}}">
    <input type="hidden" id="langSourceActive" name="langSource" value="{{strLanguageSource}}">
    <input type="hidden" id="langDestActive" name="langDest" value="{{strLanguageDest}}">



<div id="filter">
    <div class="filtercontent">
        <table width="100%">
            <tr valign="top">
                <td width="45%">
                {% include includeFilter %}
                </td>
                <td width="10%">&nbsp;</td>
                <td width="45%">
                {% include includeSummary %}
                </td>
            </tr>
         </table>
    </div>
    <div class="filterbutton"></div>
</div>

</form>

{% if nRowsComplete > 0 %}
<div id="bfObjectList" class="results">
    {% include includePagination %}

<table class="table table-striped">
<tr>
    <th class="source">Quelldaten</th>
    <th class="wtfisthis">&nbsp;</th>
    <th class="required">Pflichtfelder</th>
    <th class="optional">optionale Felder</th>
    <th class="actions">Aktionen</th>
</tr>
{% set arrResultsRaw = arrResults %}
{% for pluginObject in arrResultsRaw %}
<tr valign="top" data-translationid="{{ pluginObject.getInternalId }}">
    <td>
        {% if pluginObject.getExternalId != ""%}[{{ pluginObject.getExternalId }}]&nbsp;{% endif %}
        {{ pluginObject.getObjectTitle }}
    </td>
    <td>&nbsp;<!--{{ dump(pluginObject) }}-->{{pluginObject.getShopID}}</td>
    {% if strLanguageDest != "-1" and strLanguageDest != "" %}
        {% set aTranslStat = pluginObject.getTranslationStatus %}


        {% set classMandatory = '' %}
        {% if aTranslStat[0] == aTranslStat[1] %}
            {% set classMandatory = 'success' %}
        {% elseif aTranslStat[0] < aTranslStat[1] %}
            {% set classMandatory = 'danger' %}
        {% endif %}

        {% set classOptional = '' %}
        {% if aTranslStat[2] == aTranslStat[3] %}
            {% set classOptional = 'success' %}
        {% elseif aTranslStat[2] < aTranslStat[3] %}
            {% set classOptional = 'danger' %}
        {% endif %}


    <td class="{{classMandatory}}">{{ aTranslStat[0] }} / {{ aTranslStat[1] }}</td>
    <td class="{{classOptional}}">{{ aTranslStat[2] }} / {{ aTranslStat[3] }}</td>

    <td><button class="btn btn-default btChange" data-toggle="modal" data-target="#myEditObject" data-objectId="{{pluginObject.getInternalId}}">Ändern</button></td>
    {% else %}
    <td colspan="3">&nbsp;</td>
    {% endif %}

</tr>
{% endfor %}

</table>
{% include includePagination %}

</div>
{% else %}
<div class="textNoResults">Keine Ergebnisse gefunden.</div>
{% endif%}

{% include includeModal %}



