<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="src/css/baerbelfish.css">
    <link rel="stylesheet" href="scripts/redactor/redactor.css">

</head>
<body class="plain">
<div class="redactor_editor">{{ activePlugin.getHTMLValue(objId, confDet) }}</div>
</body>
</html>
