html { width:100%; height:100%; margin-bottom:0.01px; min-height: 100%; overflow-y: scroll; }
body { margin : 0px 0px 100px 0px; }
body.plain { margin:10px 10px;}

iframe { height:368px; width:100%; border: 1px solid #DDDDDD; margin-top:32px; }
textarea.noredactor { height:368px; width:100%; border: 1px solid #DDDDDD; margin-top:32px; }


ul {
    list-style-type:none;
    padding:0px;
    margin:0px;
}

header {
    border-bottom:1px #e2e2e2 solid;
    min-height:78px;
    position:relative;
    padding: 28px 0 0 60px;
    /*margin-left:20px;*/
    background: #fff;
}

header:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 60px;
    display: block;
    width: 25px;
    height: 13px;
    background: url("../img/pointer-header.png") no-repeat;
}
header.start:after { background:none; }

header ul li {
    color: #666;
    display:inline;
}

header ul li:nth-child(3) {
    border-right: 1px #e2e2e2 solid;
    margin-right: 30px;
    padding-right: 30px;
}

header ul li:first-child {
    font-weight: bold;
    color: #5ec4ec;
    height:48px;
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px #e2e2e2 solid;
}

header .logo {
    position:absolute;
    right:0px;
    top:0px;
}

#gn2_bf_userMsg {
    background-color:#444444;
    position:fixed;
    top:70px;
    left:0px;
    color:#FFF;
    width:100%;
    padding:5px;
    text-align:center;
    display:none;
    z-index:1100;
}

#gn2_bf_userMsg.errMsg {
    background-color:#b92c28;
    color:#FFF;
}

#menu {
    background-color:#f8f8f8;
    border-right:1px solid #e2e2e2;
    z-index:1000;
}
#menu .button {
    position:absolute;
    cursor:pointer;
    width:23px;
    height:40px;
    top:270px;
    right:-23px;
    background: url("../img/sidebar-open.png") 6px 14px no-repeat #f8f8f8;
    border-right: 1px #e2e2e2 solid;
    border-top: 1px #e2e2e2 solid;
    border-bottom: 1px #e2e2e2 solid;
    z-index:1100;
}
#menu.cbp-spmenu-open .button
{
    background: url("../img/sidebar-close.png") 6px 14px no-repeat #f8f8f8;
}

.content {
    position: relative;
    border-top:5px solid #5ec4ec;
}

.pushedContent {
    background:#f2f2f0;
    position:absolute;
    width:100%;
}

#filter {
    padding: 35px 60px 0 60px;
    border-bottom: 1px #ddd solid;
}

#filter .filtercontent {
    display:none;
}

#filter .filterbutton {
    margin:0 auto 15px auto;
    cursor:pointer;
    width: 100px;
    height: 10px;
    background: url("../img/content-open.png") no-repeat center center;
}

#filter .filterbutton.open {
    background: url("../img/content-close.png") no-repeat center center;
}

.gn2_header_pageleft { float:left; }
.gn2_header_pageright { float:right; margin-top:40px; margin-left: 10px;}

td.gn2_bf_iv_component {}
td.gn2_bf_iv_comp_info { padding-left:15px !important; }
td.gn2_bf_iv_prop_info { padding-left:45px !important; }
td.gn2_bf_iv_properties { padding-left:30px !important;}
td.gn2_bf_iv_values { padding-left:60px !important;}
td.gn2_bf_iv_webservice { padding-left:60px !important;}



th.required { width:10%; }
th.optional { width:10%}
th.actions { width:5%; }

.results { background-color: #fefefe; padding: 0 60px; border-top: 1px #fff solid; }

/* Slide-Menu */
.cbp-spmenu { position: fixed; }
.cbp-spmenu-vertical { width: 280px; height: 100%; top: 0; z-index: 1000; }
.cbp-spmenu-horizontal { width: 100%; height: 150px; left: 0; z-index: 1000; overflow: hidden; }
/* Vertical menu that slides from the left or right */
.cbp-spmenu-left { left: -280px; }
.cbp-spmenu-right { right: -240px; }
.cbp-spmenu-left.cbp-spmenu-open { left: 0px; }
.cbp-spmenu-right.cbp-spmenu-open { right: 0px; }
/* Horizontal menu that slides from the top or bottom */
.cbp-spmenu-top { top: -150px; }
.cbp-spmenu-bottom { bottom: -150px; }
.cbp-spmenu-top.cbp-spmenu-open { top: 0px; }
.cbp-spmenu-bottom.cbp-spmenu-open { bottom: 0px; }
/* Push classes applied to the body */
.cbp-spmenu-push { overflow-x: hidden; position: relative; left: 0; }
.cbp-spmenu-push-toright { left: 240px; }
.cbp-spmenu-push-toleft { left: -240px; }
/* Transitions */
.cbp-spmenu { -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; }


#bfObjectList { margin-top:40px; }


/* Summary */
.summary .progress { margin-bottom:0; }

.textNoResults { margin:50px; text-align: center; font-size:2em; }

/*
Bootstrap Styles überschreiben
****************************************************** */

.glyphicon { width: 20px; height: 20px; margin: 15px; }
.panel { border-radius:0; }
.panel>.list-group:first-child .list-group-item:first-child { background-color: #302f2e; color: #ccc; border-top-left-radius: 0; border-top-right-radius: 0; text-transform: uppercase; }
.panel>.list-group:first-child .list-group-item:first-child .glyphicon { margin: 30px 15px; }
.list-group-item { background-color: #f8f8f8; }
.list-group-item { padding:0 15px; }
.list-group-item.active { background-color:#5ec4ec; border-color:#fff; }
.list-group-item.active:hover { background-color: #0074a8; border-color: #ddd; }

.form-control { margin-left: 0; }
label { margin-rigth: 60px; line-height: 34px; }
.btn-default,
.btn-default:focus { background-color: #5ec4ec; border-color: #5ec4ec; color: #fff; }
.btn-default:hover { color: #fff; background-color: #31b0d5; border-color: #269abc; }

/*.btn-primary { background-color: #428bca; border-color: #357ebd; }*/
input[type=checkbox] { margin: 11px 0 0 0; }

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #5ec4ec;
    border-color: #5ec4ec;
}

.col-sm-2 { width: 25%; }

select { height: 24px; margin-left: 15px; border: 1px #ddd solid; background-color: #fff; font-size: 12px; outline: none; }


body.modal-open { overflow:auto; }

/* Sticky-Buttons in Popups */
.modal-sticky-panel { position: fixed; z-index: 99; right: 0; top: 50%; padding: 5px 25px 5px 5px; margin-top: -30px; width: auto; height: auto;

    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);

    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

}
.modal-sticky-panel .btn { display: block; width: 35px; height: 35px; padding: 0; margin: 0; line-height: 35px; }
.modal-sticky-panel .btn:nth-last-child { margin-bottom: 0; }
.modal-sticky-panel .editObjFormSubmit { font-size: 24px; margin-top: 5px; }
.modal-sticky-panel .editObjFormClose { font-size: 20px; }